[2017-04-07 07:46] edwardhu opened #1 "WebDriver Issue"
Excuse me, I've changed the webdriver to newest version by chrome.
But still happened the same error.. how to fix it?

Traceback (most recent call last):
  File "/Users/edward/instagram-profilecrawl/crawl_profile.py", line 11, in <module>
    browser = webdriver.Chrome('./assets/chromedriver')
  File "/Library/Python/2.7/site-packages/selenium/webdriver/chrome/webdriver.py", line 62, in __init__

[2017-04-07 15:30] timgrossmann commented on #1
@edwardhu do you have the right version for your system?

[2017-04-08 08:47] ToJen commented on #1
I think I know what's wrong, I had the same issue. `chromedriver` has to be in the same directory as `crawl_profile.py`. I got the [latest version](https://sites.google.com/a/chromium.org/chromedriver/downloads) of chromedriver and pasted it in the root of the git repository and ran it from there.

@timgrossmann can I make a pull request for this?

[2017-04-08 08:52] ToJen commented on #1
Actually, the version in` assets/` might be the problem. I just put the updated version in that folder and it's working. Maybe we need to find a way to automatically download the latest version into `assets/`.

[2017-04-08 09:00] edwardhu commented on #1
@timgrossmann I'm using 3.6 from official website. And with early 2.7 build in mac by default but I'm still using 3.6

[2017-04-08 09:13] ToJen commented on #1
I don't think your version of python is the issue, for me it was just updating `chromedriver`.

[2017-04-09 08:30] #1 closed

[2017-04-09 09:50] edwardhu commented on #1
@ToJen I updated the path in crawl_profile and it works! Thank you very much!

[2017-04-11 21:58] nacimgoura opened #3 "fork of project on nodeJS"
Hello, I realized a fork of your project but since I do not know the python, I did it in nodejs and I tried to make improvements. It is still under development, so there are still bugs.
You can see it here : https://github.com/nacimgoura/instagram-profilecrawl

[2017-04-11 23:34] laurent-d opened #4 "IndexError: list index out of range - Video post"
Hi @timgrossmann

Thanks for your amazing work !!!
For some obvious reason your app stop to work since there are videos posts ..
The error is     img = imgs[1].get_attribute('src')
IndexError: list index out of range

Do you have an idea about this issue ?
Regards

Laurent

[2017-04-12 04:39] timgrossmann commented on #3
@nacimgoura  Hey there, awesome!
Love the NodeJS version 😉

[2017-04-12 04:40] timgrossmann commented on #4
@laurent-d Hmm... well it works when crawling my own profile which also has videos.
Could you give me an username for which this error will occur?

[2017-04-12 10:01] laurent-d commented on #4
Thanks @timgrossmann !
I tried with your profile.
I use the last version of Selenium 3.33 for Mac.
Please see below

MacBook-Pro-de-Laurent:instagram-profilecrawl laurentdelacerda$ python3.5 crawl_profile.py grossertim
Extracting information from grossertim
- Could not get information from post: https://www.instagram.com/p/BSHUbpSF61n/?taken-by=grossertim
Traceback (most recent call last):
  File

[2017-04-12 15:30] #3 closed

[2017-04-13 18:17] phongyewtong opened #5 "Cant start running"
I run using nohup and got this error
/Users/phongyewtong/Desktop/InstaPy-master/chainingExample.py: line 3: syntax error near unexpected token `username='test','
/Users/phongyewtong/Desktop/InstaPy-master/chainingExample.py: line 3: `InstaPy(username='test', password='test')\'

[2017-04-13 18:32] #5 closed

[2017-04-13 18:32] phongyewtong commented on #5
solved

[2017-04-14 18:46] clbailey commented on #4
I'm getting the same error. @timgrossmann, which versions are you using for Python and Selenium?

I tried with Python 3.6.1 and Selenium 3.3.3. I'm not familiar with Python or Selenium, but I can try other tests if you have suggestions.

[2017-04-15 09:19] nacimgoura commented on #4
Hi @clbailey ,
I was inspired by this project to make my own script in Javascript. If you know a little nodeJS and npm, you can test my program. There are still bugs but I fix them quickly.

[2017-04-15 09:34] timgrossmann commented on #4
@laurent-d @clbailey This is really weird, there is no problem with videos for me... I actually covered that case in my script...

For the version information...
selenium (2.53.6)

Make sure to run it with:

[code]

[2017-04-15 12:04] laurent-d commented on #4
I tried without success same.. thanks for your support

[2017-04-15 13:38] timgrossmann commented on #4
@laurent-d I'm really sorry you get that problems...
I will look into the code and try to fix it.

[2017-04-16 14:31] laurent-d commented on #4
Hi @timgrossmann, @nacimgoura found a similar issue on his nodejs script (https://github.com/nacimgoura/instagram-profilecrawl) .
The language of the browser change the instagram display.
Hope it's the same issue and it helps you.

[2017-04-16 16:35] timgrossmann commented on #4
@laurent-d Thank you, yes that's the problem. Thank you for pointing it out.

[2017-04-16 16:37] timgrossmann commented on #4
@laurent-d Please pull the newest version and try again.

[2017-04-18 21:25] #4 closed

[2017-04-19 06:09] khaeransori commented on #4
I still get this errror even when I already pull the newest version

[2017-04-19 15:16] timgrossmann commented on #4
@khaeransori

[code]

[2017-04-19 15:21] khaeransori commented on #4
@timgrossmann I'm sorry i miss that commits, but I still getting this error
on particular account
Can you check this instagram account @mamiomamacha ?

On Wed, Apr 19, 2017, 22:16 Tim Großmann <notifications@github.com> wrote:

[2017-04-24 03:34] sansur099 opened #6 "I'm finding instagram developer"
Hello I am finding instagram developer for my follower and likes script.
contact skype: hiphopahmet

[2017-04-24 17:21] #6 closed

[2017-04-24 17:22] timgrossmann commented on #6
@sansur099 sent you an invite

[2017-05-15 18:02] 404Fel opened #7 "bug report ."
i got this error i must be the most annoying user of your scrpit but i can't figure what i did wrong

Traceback (most recent call last):
  File "crawl_profile.py", line 27, in <module>
    information = extract_information(browser, username)
  File "/Users/Desktop/instagram-profilecrawl/util/extractor.py", line 117, in extract_information
    img, tags, likes, comments = extract_post_info(browser)

[2017-05-15 19:31] ToJen commented on #7
Funny, I was debugging that yesterday. On line 31, he called
`post = browser.find_element_by_class_name('_tjnr4')` but I can't find that class. Wondering if it has been changed to something else.

[2017-05-17 18:02] newbie-dev7 commented on #7
have the same issue and i'm not familiar with code at all .

[2017-05-17 18:20] timgrossmann commented on #7
@404Fel @ToJen @newbie-dev7 That's interesting, the element still exists when I check it out...
Must be a locational thing...

[2017-05-17 18:25] timgrossmann commented on #7
Found the problem... It does not work with videos anymore.

Would be perfect if you could post the image or link to the post on which the script crashed next time 😉

I'll fix it

[2017-05-17 19:11] timgrossmann commented on #7
Should be fixed by [This commit](https://github.com/timgrossmann/instagram-profilecrawl/commit/f7812f9fc8191ede0c823b9f5d413fd6d2651af3)

Just `pull` and try again 😉

[2017-05-17 20:37] newbie-dev7 commented on #7
thanks @timgrossmann but there is the new error message

- Could not get information from post: https://www.instagram.com/p/BTOf3S4AR0j/?taken-by=felix.bw
Traceback (most recent call last):
  File "crawl_profile.py", line 29, in <module>
    with open('./profiles/' + username + '.json', 'w') as fp:
IOError: [Errno 2] No such file or directory: './profiles/404hello.json'

should i just make a depos

[2017-05-17 20:39] timgrossmann commented on #7
Yes...
I'm sorry, this got lost on the last push...
I'll re-add that

[2017-05-17 21:58] newbie-dev7 commented on #7
@timgrossmann its actually work without any error but the file .json that been created only contain informations about my post nowhere to find my follower list /people i do follow in the .json

[2017-05-18 04:34] timgrossmann commented on #7
@newbie-dev7 That feature actually isn't present at all 😉

[2017-05-24 12:08] poltys opened #8 "Script error - chromedriver"

[2017-05-24 12:09] poltys commented on #8
Hi all,

[2017-06-06 13:32] alonecuzzo commented on #8
Yeah I'm getting this error too.

Here's the trace:

[code]

[2017-06-06 13:42] timgrossmann commented on #8
@poltys @alonecuzzo You have to download the right chromedriver for your system and put it in a `assets` folder.

Look at InstaPy on how it should look like :wink:

[2017-06-06 13:42] #8 closed

[2017-06-06 13:42] #7 closed

[2017-06-06 13:49] alonecuzzo commented on #8
thanks!  just finished reading your blog post - cool stuff

[2017-06-06 13:55] alonecuzzo commented on #8
@timgrossmann it'd be cool if you added the chromedriver steps into the readme - in the instapy it says to add it in an "assets" folder, but i don't see a similar directory structure in profilecrawl... thx!

[2017-06-06 14:05] timgrossmann commented on #8
@alonecuzzo Sorry, I will...
Just add the folder and put the chromedriver in there :wink:

[2017-06-06 14:29] alonecuzzo commented on #8
no problem... I created a PR with some instructions if you want to use that ;)

https://github.com/timgrossmann/instagram-profilecrawl/pull/9

[2017-06-24 00:05] rolaxbell opened #10 "Could not get information from post..."
Everything works great. After the script runs it creates the json file and outputs the profile information. However, when it starts crawling individual posts, although I can see the driver scanning the correct post, it fails to grab any information relevant to any post.

To troubleshoot, I added some print statements in the extract_post_info function to see if it was grabbing info. It's able to pe

[2017-06-24 19:37] timgrossmann commented on #10
@rolaxbell Thank you for noticing this, I will look into this tomorrow or at the start of next week

[2017-07-01 03:41] tcvieira commented on #10
I think my pull request fixed this #11

[2017-07-01 09:21] #10 closed

[2017-07-03 11:29] shapetheLOLa opened #12 "selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally"
instapy is running perfectly, however I'm having trouble starting profilecrawl. Heres the output after trying to start it :

`Traceback (most recent call last):
  File "crawl_profile.py", line 18, in <module>
    browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/home/jwkoch/.local/lib/python2.7/site-packages/selenium/webdriver/chrome/webdriver.py", line 69

[2017-07-03 15:17] timgrossmann commented on #12
@shapetheLOLa Hmm... this is really weird. Sounds like it's either the wrong chrome driver for your system or your droplet hasn't got enough power (RAM)

[2017-07-03 15:20] shapetheLOLa commented on #12
Im using the same chromedriver as in instapy, I've just copied it to the other location.

[2017-07-03 16:21] tcvieira commented on #12
@shapetheLOLa
On the log looks like it´s using selenium webdriver from python2.7
`"/home/jwkoch/.local/lib/python2.7/site-packages/selenium/webdriver/chrome/webdriver.py"`
Try install selenium for python3
`pip3 install selenium`
and run with python3

[2017-07-03 16:32] shapetheLOLa commented on #12
Oh sorry, yea but same error there. I've just tried it with python 2.7 after 3 didnt work.
I've also tried using a later chromedriver version.

Here is the output
`⇒  python3.5 crawl_profile.py
Traceback (most recent call last):
  File "crawl_profile.py", line 18, in <module>
    browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/home/jwkoch/.local/lib/pyth

[2017-07-05 01:06] tcvieira commented on #12
@shapetheLOLa
Have you tried this [stackoverflow question](https://stackoverflow.com/questions/35212993/selenium-fails-to-start-chromedriver) ?
Are you running as root?

[2017-07-05 08:36] shapetheLOLa commented on #12
This won't help, will it? the chromedriver is in the assets folder, not /opt/google or /opt/.

I've tried putting it there and put a link to the assets folder, still no luck

[2017-07-13 01:32] AriaShishegaran opened #13 "error code 127, selenium and chromedriver issues on ubuntu 17.04"
hi this is what i'm getting (testing on my DO droplet and local desktop ubuntu) both same message:
[code]

first it said this
[code]

which it seemed it needs the forlder "assets" but it's not there, i created that and got to the first error. i donno what is happening or why it is showing this, i installed selenium on pip and pip3 and google chrom is also installed as well as chrome driver x64 lin

[2017-07-13 01:54] AriaShishegaran opened #14 "the script doesn't get past posts and shows error"
[code]

can you test this and see if this happens on ur side as well or not? if yes can you provide a fix?

[2017-07-13 01:57] AriaShishegaran commented on #14
selenium also has the problem where it only scrolls one time and then starts opening posts and then it gets stuck on the first post, then it goes to 2nd, 3rd, 4th.....
nothing usable so far

[2017-07-13 03:09] tcvieira commented on #14
This is happening because of the `load more comments` link that load others comment by demand.

At line 68 of extractor.py we have `tags = comments[0].text + ' ' + comments[1].text`, I think it's this way because most people put their tags in the post caption (first comment) and then a bunch of other tags on the second comment.

Because ` comments[1].text` it's a link we get a error.

I'll submit

[2017-07-13 10:00] timgrossmann commented on #14
#15

[2017-07-13 10:00] #14 closed

[2017-07-13 10:03] timgrossmann commented on #13
@AriaShishegaran You need to put it in a folder called assets yourself

[2017-07-13 10:03] #13 closed

[2017-07-14 12:49] AriaShishegaran opened #16 "Having problem crawling a complete profile"
[code]

the script quits without any extra data on what happened. what's the problem here?

[2017-07-14 12:55] AriaShishegaran opened #17 "[Feature Request] - adding an option to only receive the public data of each profile instead of crawling it to the end"
It would be great if you add an option so that user can only retrieve Username, # of Posts, # of Followers, # of Following, and Bio. it is very efficient for big crawls when you only need to identify a certain group of people in contrast to dumping their whole profile data.

[2017-07-14 12:58] AriaShishegaran opened #18 "[Feature Request] - adding a function to the script so that it records the progress on each profile"
Adding a read/write function to the script so that it updates the profile.json after each page crawl, now it only records if the process has been completed successfully, which has happened for me very rarely, most of time the script crashes for a reason and therefore nothing is saved.

[2017-07-14 13:02] AriaShishegaran opened #19 "[Feature Request] any plans for headless crawling? PhantomJS or similar?"
do you have any plans for adding phantom js integration so that the script is actually usable on production in contrast to now needing a GUI to run?

[2017-07-14 13:57] tcvieira commented on #16
@AriaShishegaran, could you provide the post url that occurred this error.
I think I know what could have happened and I'll provide a fix.

[2017-07-14 14:16] tcvieira commented on #17
@AriaShishegaran, I came up with an adjustment on the script that does exactly that and still extract the number of likes and comments much faster. The only down side is that it's not possible to retrieve the tags as I do not get into each post page.

You can comment the loop on the script that passes through the posts links so that you'll get what you want except for the profile bio.

[2017-07-14 14:22] AriaShishegaran commented on #17
Lemme do that and get back to you. meantime, can this be done for the bio as well as a later fix?

[2017-07-14 14:25] AriaShishegaran commented on #16
for example this profile doesn't work at all.
instagram.com/sara.sarkhosh

[2017-07-14 14:32] AriaShishegaran commented on #16
https://www.instagram.com/p/BPdbAZxjpod/

i think it fails to handle empty comment posts?

[2017-07-14 14:47] AriaShishegaran commented on #17
you mean this part?
[code]

[2017-07-14 15:25] tcvieira commented on #16
Yeap, need to put a check for empty comment posts.

[2017-07-15 09:24] timgrossmann commented on #16
#20

[2017-07-15 09:24] #16 closed

[2017-07-15 12:56] timgrossmann commented on #19
@AriaShishegaran Good question.

Well, at least for InstaPy itself, the plans are to use the newly introduced headless feature of chrome itself to make sure we won't rely on any GUI.
But this still might take a while to be implemented...

I'm really sorry. I currently have an insanely full schedule...

[2017-07-15 12:58] timgrossmann commented on #18
@AriaShishegaran That is a really nice idea.

As said on the other issue, I'm currently not really actively developing this further.
I hope I can find some time in the future to work on this a bit more.

[2017-07-16 23:52] KuroZone opened #21 "extractor.py"
please help!

[code]

[2017-07-30 10:31] RealMakAttak opened #22 "fixed issue - comments problem"
Sorry not great with github but there was a problem where comments = 0 on line 61 of extractor.py and then later tried to find the len of it which caused:

[code]

if you just change comments = 0 to comments = [] then works fine.

[2017-07-30 12:05] timgrossmann commented on #22
@RealMakAttak Could you please create a PR for that?
Would really appreciate that.

[2017-07-30 12:05] timgrossmann commented on #22
@RealMakAttak Could you please create a PR for that?
Would really appreciate that.

[2017-07-30 14:19] RealMakAttak commented on #22
@timgrossmann I'm not great with Github but I will try and do that (will be my first time sorry)

[2017-07-31 06:37] timgrossmann commented on #22
@RealMakAttak No problem, great opportunity to learn 😉

[2017-08-06 06:31] timgrossmann commented on #21
#23

[2017-08-06 06:31] #21 closed

[2017-08-09 05:54] zhaobr340104 opened #24 "Can't work since yesterday"
The script can't get information since yesterday. It seems that  Instagram has changed the tag&class name on the html page?
Error message：
selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"class name","selector":"_de9bg"}

[2017-08-09 09:54] timgrossmann commented on #24
@zhaobr340104 Looks like they changed every single class for the elements... 😑

[2017-08-18 07:35] jianglonger commented on #24
i think you are so good ,i am pround of you my son

[2017-08-23 16:20] Jayphen commented on #12
I had this problem. You need to make sure it's running as headless.

In `crawl_profile.py`, add
`chrome_options.add_argument('--headless')`

below the other similar add_argument lines

[2017-08-23 16:33] Jayphen commented on #24
I believe I've fixed this - PR #25

[2017-08-24 01:24] timgrossmann commented on #24
@jianglonger @zhaobr340104 Please try if #25 fixed this for you

[2017-08-24 12:04] jianglonger commented on #24
OK thanks，i will try it latter

[2017-08-24 12:09] zhaobr340104 commented on #24
Thank you very much.

[2017-08-24 12:10] #24 closed

[2017-09-24 15:36] snakelab opened #26 ".... is not clickable at point (943, 933)"
Hi folks,

just wanted to tell about a problem i got and fixed:

**i got this error:**

[code]

**Solution:**
the problem is that the page seems to be not fully loaded, so just go ahead and raise the sleep before this statement in utils/extractor.py:

[code]

[2017-09-26 03:14] byzhou opened #27 "css is dynamically generated, not hard coded"
https://github.com/timgrossmann/instagram-profilecrawl/blob/e657d6c4b443641053c8da4812593fb3abb30596/util/extractor.py#L98

[2017-09-26 03:34] timgrossmann commented on #27
@byzhou In InstaPy we now use the text as a better indicator which doesn't break that fast.
Unfortunately, I don't have a lot time right now, so this repo won't get a lot of attention. Feel free to submit a PR to improve it!

Thank you

[2017-10-10 01:23] mattalhonte opened #28 "Logging In?"
Sorry if this is spelled out in the documentation (or InstaPy), but I was wondering if there was a way to login during the session.  I'd like to get the likes of a friend's pics, but his profile's private - I could access it if I could figure a way to log in during the Headless session.  Thanks!

[2017-10-10 01:26] timgrossmann commented on #28
@mattalhonte Well, for this issue, unfortunately, as of now, there is no such way.

It's a nice idea, if you're interested, feel free to contribute to this project.
Thank you

[2017-11-10 21:39] BapPoi opened #29 "[Feature Request] Add teh date, hour, timestamp of each post"
In extract_post_info, is it possible to add the date and / or timestamp of each post? It could be very useful to analyze properly the account :)

[2017-11-10 21:47] timgrossmann commented on #29
@BapPoi Hi, should be really easy to integrate. However... This repository hasn't been maintained for a while, that's why it most likely won't work still... Sorry

[2017-11-13 20:06] BapPoi commented on #29
Arf @timgrossmann OK thx for your quick reply!
I stumbled upon this crawler, and it's perfect for what I want to do (and it's still working).
I will try to do it myself :p

[2017-11-28 16:38] staringispolite commented on #12
Strange, I'm getting this too, though in InstaPy. I have two digital ocean droplets running from the same Snapshot. One (the original) works fine. The other (created from a Snapshot) gets this error. Systems/paths/etc should be the same.

Perhaps that's a clue? Tried all the workarounds above to no avail

[2017-12-02 08:57] michellexyq commented on #24
hi @timgrossmann

I was not able to get information either and the error messages shows that it may be due to the same reason:

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"class name","selector":"_mesn5"}

Thanks!

[2017-12-02 19:37] timgrossmann commented on #24
@michellexyq I'm really sorry you're having issues...

However currently I simply don't have the time to work on this any further, I hope you can understand this.

What you can do is copy that selector you posted and then check the code where you can find it.
This will give you an indication which element should be searched for.
Then head over to instagram and the page that should be searched for,

[2017-12-06 22:50] RafaelLee opened #30 "'Service' object has no attribute 'process'"
Hey guys, its me, again...

I'm trying to run that DigitalOcen Ubuntu... but getting that error when I try to run the script. If someone has any tip, would be helpful.

![image](https://user-images.githubusercontent.com/681629/33689518-ee55bfd0-dac6-11e7-8f2e-bdb70a409a50.png)

In the page it says to run Python3.5etc... is that mandatory?

If that's the problem, I'm sorry... but I wanna try it wit

[2017-12-06 23:02] timgrossmann commented on #30
@RafaelLee I'll probably update this tool from using selenium to doing 4 simple requests...

I researched the graphql endpoints and it seems super easy to get all the information in a matter of seconds for each given profile...

https://github.com/timgrossmann/InstaPy-Research

[2017-12-27 00:49] williamsandytoes commented on #12
I also had this problem, even though I was staring chrome in headless mode. For those who come across this in the future, I found adding "--no-sandbox" to the chrome startup arguments solved the problem.
E.g. `chrome_options.add_argument('--no-sandbox')`

[2017-12-30 13:12] thirupathi-thangavel commented on #30
You need to place `chromedriver` under `assets` directory (create it if it's not there - under `instagram-profilecrawl`)

[2017-12-30 13:13] thirupathi-thangavel commented on #30
It works for python 2.7 as well. I just tried it.

[2017-12-30 13:15] thirupathi-thangavel commented on #30
You need to place `chromedriver` under `assets` directory. Create it if it's not there (under `instagram-profilecrawl` directory)

[2017-12-30 13:15] t-thirupathi commented on #30
You need to place `chromedriver` under `assets` directory. Create it if it's not there (under `instagram-profilecrawl` directory)

[2017-12-30 13:16] t-thirupathi commented on #30
It works fine on `python 2.7` as well. I just tested :)

[2018-01-23 18:45] StefanUPB opened #32 "Unable to locate element: class name "_mesn5""
Trying to scrape a public Instagram profile, I got this error:
[code]

Am I missing something? Why is it using headless chrome? I actually appreciate headless, but I read in another issue that it's apparently not yet supported?
Or is this an issue with Python 3.6?

[2018-01-23 19:02] StefanUPB commented on #32
Sorry, it was really just an issue with Python 3.6. Works with 3.5 now.
Even though, I still get an error `Error while finding module specification for 'crawl_profile.py' (AttributeError: module 'crawl_profile' has no attribute '__path__')` - but it still works.

[2018-01-23 19:02] #32 closed

[2018-01-23 19:11] StefanUPB commented on #19
Seems like this has been dealt with and chrome is running headless. :)

[2018-02-06 04:35] andrewjburnett commented on #26
Also having this issue all of a sudden.

[2018-02-06 20:24] andrewjburnett opened #33 "Unable to located element."
Here's my error. The script ran fine a few times but is now unable to locate this element.

[selenium.webdriver.remote.remote_connection] DEBUG: Finished Request {'sessionId': '202cae480ffc0f2e7f76665155ad5760', 'status': 7, 'value': {'message': 'no such element: Unable to locate element: {"method":"xpath","selector":"//a[contains(@class, "_1cr2e _epyes")]"}\n  (Session info: chrome=64.0.3282.140)

[2018-02-10 00:44] k1ltr0 commented on #12
for some reason, wasnt working with chromedriver 2.29, had to update to 2.35 and worked

[2018-02-13 08:51] s1011448 opened #34 "Cant crawl, it print "-Only few posts" always"
User has more than 12 posts but after running the program, only print out -Only few posts

[2018-02-16 21:33] icebergyy commented on #34
I am getting the same issue.  Any idea what could be causing the problem?  I will take a look at the code

[2018-02-25 12:53] daniel-ed opened #35 "Read user's bio?"
Is there a way to extract a user's bio text and write it into a file?

[2018-02-26 10:52] daniel-ed commented on #35
No way?

[2018-02-27 07:29] s1011448 commented on #34
@timgrossmann Sorry for bothering you. I am trying to fix it myself but still suffer problems, it seems that there's no load_button this element in the web page and some class name has changed. I would appreciate it very much if you have time to take a look at this project and give me some advice.

Thank you~

[2018-03-07 16:05] djlowes commented on #12
Following on from @k1ltr0 - I have just had to update to v2.36 from 2.33 after receiving this error message. It's working fine now.

[2018-03-11 10:07] deniskrafczyk commented on #34
same issue for me :/

[2018-03-15 18:53] AmirHadifar commented on #34
same issue here :(

[2018-03-15 21:27] justdvl commented on #34
Hey guys, I fixed the bug, I'll try to contribute to it now (it is my first time working with GitHub so let me figure out how to do that).
The prev_divs needs to be changed to: prev_divs = browser.find_elements_by_tag_name('main')
Also the loading of page needs to be changed.
Then it works.

[2018-03-15 23:44] justdvl commented on #34
What took me 2 hours to figure out is, that Instagram always only displays 30 pictures in it's code at the same time, that's the reason why I was only getting 30 links (and in InsaPy, the like by user feature also only do 30 likes).
I fixed it by getting links every time you move the page down, to get all of them line by line.

[2018-03-16 08:44] justdvl commented on #34
Everything is working flawlessly,
I managed to do a Pull Request
It si my first time ever so hope I did all correctly 0-)

[2018-03-16 08:44] justdvl commented on #35
I can do it.

[2018-03-16 09:33] justdvl commented on #35
I added this feature, , it's about adding:

`try:
    bio = container.find_element_by_class_name('_tb97a')\
                        .find_element_by_tag_name('span').text
  except:
    print ("\nBio is empty")
    bio = ""`

into the get_user_info method.

I will wait for Tim to approve it.

[2018-03-16 10:17] justdvl commented on #29
Within method extract_post_info, after post variabile was created, you need to add this line:

`date = post.find_element_by_tag_name('time').get_attribute("datetime")`

now, in a date variabile you have a date formatted like: 2017-07-20T13:02:02.000Z

to show date in a human way, add:

`date = post.find_element_by_tag_name('time').text`

showing: date is  JULY 20, 2017

[2018-03-16 15:39] deniskrafczyk commented on #34
@justdvl thank you so much! you are kind of a hero i think ;)

[2018-03-20 19:45] estebancortero opened #38 "Run using firefox on RPi 3"
I'd like to run the crawler headless on my RPi3, ideally just using Firefox/geckodriver. Installing chrome on RPi is always kind of a mess. Is there a simple workaround? It should be possible with selenium, right?

[2018-03-21 20:46] BapPoi commented on #29
Oh thx @justdvl , I will try it ;)

[2018-03-22 16:32] guifelix commented on #34
@justdvl since you managed to fix it, did you do a pull request just in this project or in instapy as well?
btw, tnx for the fix!

[2018-03-22 18:30] justdvl commented on #34
They already fixed it in Instapy, just pull requests take longer to get through as they want to make sure all is fine. Just be patient.
But honestly, this fix is super simple and I don't see what can go wrong there.
Meanwhile I also figured out even shorter way to write it..

[2018-03-25 16:05] #38 closed

[2018-03-26 18:10] KishanKitty opened #41 "unknown error: call function result missing 'value'"
Traceback (most recent call last):
  File "C:/Users/kk703.DESKTOP-J939SLP/PycharmProjects/POM/TestScripts/Login_Test.py", line 7, in <module>
    loginPage.login("admin","manager")
  File "C:\Users\kk703.DESKTOP-J939SLP\PycharmProjects\POM\PageClasses\LoginPage.py", line 11, in login
    self.__username.send_keys (user_name)
  File "C:\Users\kk703.DESKTOP-J939SLP\AppData\Local\Programs\Python\Pyth

[2018-04-04 10:20] gustafsom opened #42 "Scrolling Profile no stop"
Good morning people.

I started using Instagram-profilecrawl. But a problem.

It is not to load all the posts.

The message at the prompt is:

[code]

I already tried to increase `sleep `in `extractor.py` but no work

[2018-04-04 10:41] justdvl commented on #42
So it means instagram is telling the profile has 380 photos but script only found 379.
Weird.
What is the profile if I can ask?
I can fix it tonight, it is easy fix.

[2018-04-04 11:29] gustafsom commented on #42
This happens on some accounts.

One of these accounts is: gelateria_roma

[2018-04-04 21:00] justdvl commented on #42
Hello, I made a fix, you can already change the extractor.py file in your local copy and it will work.

[2018-04-05 13:02] gustafsom commented on #42
worked perfectly. Thank you.

[2018-04-05 14:05] #42 closed

[2018-04-07 11:20] noamb3 opened #44 "[Feature Request] - help needed: crawl only the N most recent posts"
Hello,
I need your assistance.
How can I download the most N recent posts ? (it takes a lot of time to process the entire profile posts in case there are many posts)

Thanks.
Noam

[2018-04-15 22:29] justdvl commented on #44
Hi, I have included this option in the new pull request.
Before it is pulled you can download my fork.

Default value is to scroll only first 12000 posts now.
You can change it by changing limit_amount variable in crawl_profile.py
That limit will auto-change to be multiplication of 12, so if you would set the variable to be for example 20, it will be rounded up to be 24.

[2018-04-16 08:39] r8w9a5k commented on #12
Hello,
I got 2 identical Dell computers with both win10.
First one can run selenium via simple python code

[code]

Second pc cannot run it. I tried to do everything I read on the internet but still getting error:

`selenium.common.exceptions.WebDriverException: Message: unknown error: chrome failed to start`
`(Driver info: chromedriver=2.37.544315 (730aa6a5fdba159ac9f4c1e8cbc59bf1b5ce12b7),platfo

[2018-04-16 08:50] happyhq commented on #12
@r8w9a5k  which your version of python?

[2018-04-16 09:03] happyhq commented on #12
@r8w9a5k
I meet the same problem。before，I  think it‘s the version of python。But NOT。
it ’s the veriosn of  chrome。
Please choice the  right version of  chrome  and chromedriver。
You can see from https://sites.google.com/a/chromium.org/chromedriver/。

[2018-04-16 13:14] r8w9a5k commented on #12
@happyhq I am using python 3.6.1 and latest chromedriver 2.3.7

[2018-04-17 07:26] r8w9a5k commented on #12
@happyhq Today I tried to run that on python 3.6.5 and chromedriver 2.3.7 with both 32bit or 64 bit and it still doesn't work. I am really angry why two indetical Dell computers differs.

[2018-04-17 12:45] happyhq commented on #12
@r8w9a5k   Maybe the version of chrome is  too old.

[2018-04-17 13:11] r8w9a5k commented on #12
@happyhq Version of Chrome browser is the latest. Chromedriver is also up to date. I tried lower versions but error is still same.

[2018-04-18 06:53] r8w9a5k commented on #12
@happyhq I solved my problem. I used procmon to trace what's going on with chromedriver.exe and I found out that the problem was in admin rights. I simply checked to run my IDLE and chromedriver as administrator  and now it works just fine.

[2018-04-18 08:28] s1011448 opened #47 "Terminate"
I'm encountering
"bio:
Error: Couldn't get user profile.
Terminating"
How can I solve this?
I will be grateful for any help you can provide.

[2018-04-19 01:15] justdvl commented on #47
It works for me..
Go to file extractor.py and to line 114 and change

`  except:
    print ("\nError: Couldn't get user profile.\nTerminating")`

`  except Exception as e:
    print (e)
    print ("\nError: Couldn't get user profile.\nTerminating")`

Then write here the error message.

[2018-04-19 02:01] justdvl commented on #47
So you know where lies the problem. Someone will maybe be able to help you.
It is something about your configuration, where I am not expert on. I can
only ask, do you have file unicodes.md in your assets directory?
Solution 2 could be: delete lines 18,19,20,21 from extractor.py

On 19 April 2018 at 03:21, s1011448 <notifications@github.com> wrote:

[2018-04-19 03:27] s1011448 commented on #47
Thanks a lot~

[2018-04-25 03:47] noamb3 commented on #44
Thanks a lot. It works well.
Why there is a limit of 12 ?
Actually, I need only the recent published post

[2018-04-25 09:17] justdvl commented on #44
Well, it's a technical reason, when Instagram loads a profile, it loads 12 images.. and then when you scroll, 12 more.. I thought that is not so important, but it is possible to get rid of this graduality and be able to only get first n posts. Do you want me to do it?

[2018-04-26 08:03] b9words opened #48 "Minor error: replacing k with '000'"
inside the code block in `utils/extractor.py`,
k is replaced as '00', but should be replaced as '000'.

`  followers = infos[1].text.split(' ')[0].replace(',', '').replace('.', '')
  followers = int(followers.replace('k', '00').replace('m', '00000'))
  following = infos[2].text.split(' ')[0].replace(',', '').replace('.', '')
  following = int(following.replace('k', '00'))`

[2018-04-29 08:48] alanwuha opened #49 "Caption and location information"
I have modified my local repo to extract caption, location name, and location url for each post. I would love to contribute if this can be considered as an enhancement.

[2018-05-01 06:27] alanwuha opened #50 "Incorrect followers/following value"
The followers/following value is incorrect for IG accounts that have no decimal in their followers/following count.
(e.g. 630k followers becomes 63000 instead of 630000)

[code]

This can be corrected with the following lines of code:

[code]

[2018-05-03 01:40] #50 closed

[2018-05-06 02:25] #49 closed

[2018-05-10 15:06] kleahey opened #53 "TypeError: 'NoneType' object is not iterable"
Getting the following error after scrolling the profile and scrapping the first link:

`Traceback (most recent call last):
  File "crawl_profile.py", line 33, in <module>
    information, user_commented_list = extract_information(browser, username, limit_amount)
  File "/Users/kevinleahey/Git/instagram-profilecrawl/util/extractor.py", line 225, in extract_information
    caption, location_url, loc

[2018-05-10 16:46] kleahey commented on #53
Seems like this is related to lines 127-141 of extractor.py.

If there are no comments on the post `tags = comments[0].text` is causing script to fail.

I updated the `else` statement to `elif len(comments) == 1:` and that allowed the script to run fully. I'm not sure if that would have broken anything...

[2018-05-14 19:38] juliavollmer commented on #53
I had the same issue, but it is working now fine after I unindented line 140 and 141.

[2018-05-27 21:14] ZeusFSX commented on #53
I found why it is problem generate. If the post doesn`t have comments even from authors, I will get
'''TypeError: 'NoneType' object is not iterable'''

[2018-05-30 17:15] wecanfuture commented on #53
@juliavollmer can you please post your code?

[2018-06-01 21:41] andrewjburnett opened #54 "Broken after Instagram updated profiles."
The error message is suppressed so I can't post the error beyond:

$python crawl_profile.py john
Waiting 10 sec
Extracting information from john

Error: Couldn't get user profile.
Terminating

[2018-06-03 15:21] justdvl commented on #54
The problem is, the Chrome window doesn't even open, program doesn't even run anymore (for me)

[2018-06-04 15:54] justdvl commented on #54
I have done the fix
https://github.com/timgrossmann/instagram-profilecrawl/pull/55

[2018-06-05 07:42] timgrossmann commented on #54
@andrewjburnett Please retry with the fix of @justdvl and close the issue if everything is working again.

[2018-06-06 03:16] davasu commented on #53
Hi, i had the same issue and tried to fix but nothing works, someone can help?. I thinks is something wrong when the script try to "return" on line 142:

Line 142: return caption, location_url, location_name, location_id, lat, lng, img, tags, int(likes), int(len(comments) - 1), date, user_commented_list

Error:

Traceback (most recent call last):
  File "crawl_profile.py", line 33, in <module>

[2018-06-06 09:33] justdvl commented on #53
Can you please give me example of username where this problem is happening?

On 6 June 2018 at 05:16, davasu <notifications@github.com> wrote:

[2018-06-06 13:01] davasu commented on #53
Hi @justdvl, the problem occurs with this user https://www.instagram.com/whereistravel/ in the last post, i think is something wrong when try to get the statistics from each post and with this user betwen post 8 and 11 https://www.instagram.com/cristian.traveler.24/

[2018-06-06 13:10] justdvl commented on #53
Looks like @alanwuha wrote this part of the code, maybe he will fix it soon :) If now I can look at it.

[2018-06-06 19:14] davasu commented on #53
Thanks a lot @justdvl i will wait for any update from @alanwuha 👍

[2018-06-06 21:13] sionking commented on #44
I also want onlt last post please.

[2018-06-06 21:13] sionking commented on #44
and number of posts is not true when you grab only last 12 it will say 12, instead of 245 ... real posts number.

[2018-06-09 11:25] arashsyh opened #57 "Empty Caption"
Hello.
Line 50 to 57 in extractor.py file is where, post's caption will have read.
but it seems in new version of instagram HTML file it doesn't work properly,
i fixed this issue, just replace all of codes in try block with this line:
`caption = post.find_element_by_class_name('gElp9').find_element_by_tag_name('span').text`
Be lucky :-)

[2018-06-09 15:04] justdvl commented on #57
Hi, what you suggest didnt work for me.
Main tricky problem was with spacing of return statement, it was included in the if condition.
I am doing PR now.

[2018-06-09 15:19] justdvl commented on #53
No response, so I have done the fix ;)

https://github.com/timgrossmann/instagram-profilecrawl/pull/58

[2018-06-10 16:15] wecanfuture opened #59 "absolute import instead of a relative one?"
File "crawl_profile.py", line 5, in <module>
    from .settings import Settings
SystemError: Parent module '' not loaded, cannot perform relative import

I was running into this issue i [googled a bit and found ](https://stackoverflow.com/questions/33837717/systemerror-parent-module-not-loaded-cannot-perform-relative-import)

so i changed line 5 to:

works for me

[2018-06-13 06:24] nishanthkorupolu opened #60 "Comments not exceeding 25?"
The number of comments are stuck at 25 for me
Like so:
"likes": 1029020,
"comments": 25

Can anyone help me to fix this?

[2018-06-14 16:20] wecanfuture opened #61 "Couldn't get user profile."
Hello,

now i am running into straight errors.

When i execute this script i get the return:

Couldn't get user profile.

Anyone any idea?

[2018-06-19 14:19] davasu commented on #60
Same problem here!

[2018-06-19 14:44] nishanthkorupolu commented on #60
I fixed that error by changing 'load more comments' to 'Load more comments', changing comments[1].find_element_by_tag_name('button').click() to comments[1].find_element_by_tag_name('a').send_keys("\n")

[2018-06-19 21:41] timmoh commented on #60
see here: #65
can be closed

[2018-06-19 21:43] timmoh commented on #59
fixed in #63
can be closed

[2018-06-19 23:04] Psycoguana opened #66 "Cannot find Chrome Binary"
Hello, I'm trying to run this with Python 3.5, and chrome driver 2.40, but I'm getting the next error
_Traceback (most recent call last):
  File "crawl_profile.py", line 21, in <module>
    browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/home/psyco/.local/lib/python3.5/site-packages/selenium/webdriver/chrome/webdriver.py", line 75, in __init__
    desire

[2018-06-20 07:33] timmoh commented on #61
did you check if the user file exists in insta? please post config

[2018-06-20 11:08] #59 closed

[2018-06-20 18:12] Psycoguana commented on #61
I get the same thing using my own profile

[2018-06-21 07:30] timmoh commented on #35
@timgrossmann can be closed

[2018-06-21 07:32] timmoh commented on #26
@timgrossmann can be closed

[2018-06-21 08:27] #19 closed

[2018-06-21 14:33] timmoh commented on #12
@timgrossmann can be closed

[2018-06-22 07:25] sionking opened #68 "Should add user id in json file."

[2018-06-22 14:51] timmoh commented on #68
[code]
is already

[2018-06-22 14:58] timmoh commented on #61
works as designed.
what information should be scraped if the user has a private profile

[2018-06-28 02:45] chlind opened #69 "WebDriverException: DevToolsActivePort file doesn't exis"
I've installed chrome on EC2 running Amazon Linux AMI.
When running crawl_profile.py, WebDriverException pop and the script stop.
What's the problem and how to fix it?
Thank you in advance.
Here's the error message:

Traceback (most recent call last):
  File "crawl_profile.py", line 21, in <module>
    browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/

[2018-06-28 06:11] chlind commented on #69
Sorry, my bad.
It run smoothly after I do full server update.
It seems that my server is outdated and cannot run chrome properly.

[2018-06-28 06:11] #69 closed

[2018-06-28 09:37] timmoh commented on #30
@RafaelLee did it worked for you? please close issue
@timgrossmann should be closed

[2018-06-28 09:43] #12 closed

[2018-06-28 09:50] timmoh commented on #54
works fine since a month

[2018-06-28 09:50] #54 closed

[2018-06-28 09:51] #35 closed

[2018-06-28 09:51] #53 closed

[2018-06-28 09:52] #47 closed

[2018-06-28 09:52] #60 closed

[2018-06-28 09:53] timmoh commented on #33
@andrewjburnett is bug still present? or can we close issue?

[2018-06-28 09:53] #66 closed

[2018-06-28 09:55] timmoh commented on #41
@KishanKitty is the issue still present or can we close it?

[2018-06-28 09:55] #26 closed

[2018-06-28 09:56] #22 closed

[2018-06-28 11:07] #17 closed

[2018-06-28 11:13] #34 closed

[2018-07-02 07:35] #68 closed

[2018-07-02 07:35] #61 closed

[2018-07-02 07:36] #41 closed

[2018-07-08 07:38] samu91gn opened #72 "TypeError on save_profile_json()"
Traceback (most recent call last):
  File "crawl_profile.py", line 33, in <module>
    Datasaver.save_profile_json(username,information)
TypeError: unbound method save_profile_json() must be called with Datasaver inst
ance as first argument (got str instance instead)

I didn't do any change to the code so far.

[2018-07-08 17:36] DigexCo opened #73 "do this project work yet ?"

[2018-07-09 09:55] timmoh commented on #73
Could you give us mire informations? (logs, commandline outputs, your config file and so on)

[2018-07-09 09:58] timmoh commented on #72
how did you start the crawl_profile.py ?

[2018-07-09 09:59] timmoh commented on #57
does it work now? can we close the issue?

[2018-07-09 12:54] samu91gn commented on #72
Hi, thanks for your reply, I fixed the error above by using python 3.5 as suggested (I was trying with 2.7 before).
Nevertheless I was experiencing an **OSError: [Errno 22] Invalid argument on datasaver.py, line 16, in save_profile_json with open(file_profile, 'w')**
the problem has to do with the file name containing colons: "%Y-%m-%d %H:%M:%S", not allowed in a file name in Windows.
I also repla

[2018-07-09 14:57] timmoh commented on #72
Hi I just commit #74 it should work on windows now as well.
If it works please close issue

[2018-07-09 18:33] #33 closed

[2018-07-09 20:47] edotfar opened #76 "We can't use pyvirtualdisplay on Windows"
Hi,
In windows we have a problem with Display function (from pyvirtualdisplay import Display)
actually we can't use pyvirtualdisplay on Windows.
It is just a wrapper that calls Xvfb. Xvfb is a headless display server for the X Window System. Windows does not use the X Window System.

How can I use this in windows OS ?

[2018-07-10 07:58] timmoh commented on #76
there is no official support for windows. try macos, raspberry or any other unix based os

[2018-07-10 09:41] samu91gn commented on #72
it works now :)

[2018-07-10 09:41] #72 closed

[2018-07-10 11:22] arashsyh commented on #57
@timmoh
Of course, thanks for your Patient

[2018-07-10 15:02] DigexCo commented on #73
i run it and messages is

DevTools listening on ws://127.0.0.1:57058/devtools/browser/5c21363d-9f1a-4ec6-98aa-e3c78d3af863
Waiting 10 sec
Extracting information from behrouz.atoofi
[0710/193005.132:ERROR:ssl_client_socket_impl.cc(1026)] handshake failed; returned -1, SSL error code 1, net_error -101
ok

Url is empty

Error: Couldn't get user profile.
Terminating

[2018-07-10 17:35] #57 closed

[2018-07-10 17:35] #30 closed

[2018-07-11 06:41] DigexCo commented on #73
Hi

now is worked but:

User  instagram  has  0  comments.
[0711/110637.861:WARNING:spdy_session.cc(2961)] Received WINDOW_UPDATE for invalid stream 17
Traceback (most recent call last):
  File "crawl_profile.py", line 33, in <module>
    Datasaver.save_profile_json(username,information)
  File ".\Crawler\util\datasaver.py", line 16, in save_profile_json
    with open(file_profile, 'w') as fp:
OSE

[2018-07-11 07:53] samu91gn opened #77 "[Feature Request] - Get a list of the most engaged followers ordered by rank"
It would be nice to get some info about who left the likes and not just the number so that it would be easy to understand which followers are more active and interacting more with the posts. Is this even possible without a login? Thanks!

[2018-07-11 18:07] timmoh commented on #73
1) it looks like you are using a old version please update
2) perhaps you have to give the a full qualified path in settings.py

[2018-07-11 18:12] timmoh commented on #77
seems to be not public.
you just get the users who commented a post, but don't get everyone who liked the image.
just test it by your self: use private mode on browser and test where to we can get the likes of the pictures/posts

Perhaps Instapy would help

[2018-07-12 15:44] samu91gn commented on #77
Alright, thanks, I will close this since it seems not possible / out of scope.

[2018-07-12 15:44] #77 closed

[2018-07-12 16:36] DigexCo commented on #73
thanks alot Timmoh
now it works ...

[2018-07-12 17:10] justdvl commented on #77
It's not difficult to do. I Did the commenters module, when you get a list
of users who commented on that profile photos sorted by frequency..
To do same with likes is easy. All you need is to login..
And I can do that too. Question is if we want to incorporate login
functionality into this lightweight scrip.

On Jul 12, 2018 5:44 PM, "Samuele Illuminati" <notifications@github.com>
wrote:

Alright

[2018-07-20 22:05] starbuck614 opened #78 "Instagram Update - Class Name Issue"
Hello,

I keep getting an error when I run extractor.py particularly in line 14. I think Instagram updated their class name because this is the error I get after changing the error code in line 301-304.  I'm not sure how to find the correct class name. All help is greatly appreciated!

Error Code I put in:

`except Exception as e:
print(e)
print ("\nError: Couldn't get user profile.\nTerminating")

[2018-07-21 23:09] #44 closed

[2018-07-22 11:18] timmoh commented on #18
@AriaShishegaran it should save the json file if there is an error...
Could you pls close issue

[2018-07-22 11:19] timmoh commented on #78
tested it with several profile. everything works

[2018-07-22 11:19] #76 closed

[2018-07-23 01:36] erfanz opened #82 "Followers list?"
I used your tool, but it didn't output the followers list. I checked the setting file and there was also nothing in there about followers. But in the git description, it is said that followers list is supported ?!

[2018-07-25 22:59] timmoh commented on #82
that‘s only the amount of followers

[2018-07-31 10:15] daniel-ed opened #84 "Settings Error Message"
After installation I get the following error:

[code]

[2018-08-01 12:30] #78 closed

[2018-08-01 12:30] timmoh commented on #84
please post settings.py & your start skript

[2018-08-01 16:39] daniel-ed commented on #84
settings.py:

`import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

class Settings:
    profile_location = os.path.join(BASE_DIR, 'profiles')
    profile_commentors_location = os.path.join(BASE_DIR, 'profiles')
    profile_file_with_timestamp = True
    profile_commentors_file_with_timestamp = True
    limit_amount = 12000
    scrap_posts_infos = True
    output_comme

[2018-08-03 16:15] timmoh commented on #84
???
i think your are in the wrong repo:
look here => https://github.com/ping/instagram_private_api
or use this repo and have a look at the crawl_profile.py

[2018-08-08 20:01] #84 closed

[2018-08-14 10:44] phermann1988 opened #85 "import data in R w/ jsonlite dosent work.."
Error in parse_con(txt, bigint_as_char) :
  lexical error: invalid char in json text.
          ppy", "#goodtime", "#funny", ...],        "likes": 284,
                     (right here) ------^

i used the given example in the READ.ME but all my scraped json files dosent work w/ jsonlite

[2018-08-15 09:11] timmoh commented on #85
have you checked the json files with other tools? Perhaps R/jsonlite has a problem. Perhaps also some encoding problems?

[2018-08-19 10:33] phermann1988 commented on #85
yes, the problem is the output json isn't valid (checked w/ https://jsonlint.com/; https://jsonformatter.curiousconcept.com/)..

[2018-08-24 22:40] singelnspuis commented on #78
Hello I am getting a similar error message:
`Message: no such element: Unable to locate element: {"method":"class name","selector":"Xl2Pu"}'

on all the profiles I try to crawl. At the end of the crawl I am able to view the number of posts, followers, following, etc but no posts.

Thank you.

[2018-08-27 19:08] rushabhsooni opened #86 "error in functionality"
as the structure is changed by Instagram, can we divide the extractor page more specific as XPath can solve the problem. I have progressed in bio , but unable to solve the comments section.

[2018-08-30 11:38] timmoh commented on #86
pls give some more details...
perhaps the commit yesterday solves your problem

[2018-08-30 18:48] rushabhsooni commented on #86
ya thanks, yesterday's commit did solve the issue of bio,
But it does get any comments, does retrieving comments function open's another page?
so I can do it manually.

[2018-08-31 14:39] ThomasViennet opened #88 "No module named settings"
Hi,

Thanks for your script but I have a little problem to run it.

I have two versions of python on OSx
`python -V
Python 2.7.10
`
`python3 -V
Python 3.6.1
`

`python3.6 crawl_profile.py username`
[code]
`python crawl_profile.py username`
[code]

I would like install selenium with "pip3" but I don't understand how to install pip3.

I don't understand this error
`ImportError: No module named setti

[2018-09-02 10:33] timmoh commented on #88
it looks like you haven't installed chrome/selenium please follow instructions

[2018-09-02 13:31] #18 closed

[2018-09-02 13:32] timmoh commented on #86
pls check new commit @rushabhsooni

[2018-09-08 11:59] #88 closed

[2018-09-08 12:04] timmoh commented on #85
@phermann1988 could you pls update und check if there is still an error.
if yes: please post the json file with error

[2018-09-08 12:05] #27 closed

[2018-09-10 02:46] franciscofelixaguirre opened #94 "Requested Python version (3.5) is not installed (I have 3.7)"
I am trying to run **crawl_profile.py** but the error message "Requested Python version (3.5) is not installed" appears, and I have Python 3.7.

Somebody knows how can I fix it? Thanks!

[2018-09-10 03:32] #94 closed

[2018-09-10 22:37] ThomasViennet opened #95 "cron log_stats.py with dynamic title .json"
Hi,

Thanks for your code, its very usefull !
I would like use a cron to run log_stats.py username but the title of the .json is dynamic like this usernam_2018-09-11 00-19-40.json

Can you help me to automise this please ?

[2018-09-11 10:50] #95 closed

[2018-09-11 10:51] timmoh commented on #95
@ThomasViennet should work now. pls update
you also could use `python3 log_stats.py` for importing all json user files

[2018-09-12 08:52] ThomasViennet commented on #95
Thanks !

[2018-09-12 13:39] oguzhankarabulut opened #97 "Can not get comments"
Firstly thanks for sharing, it is amazing. I installed and tried i can get all datas as you said but i can not get comments. I can get comments count but comments list is empty like that:

            "img": "https://scontent-sof1-1.cdninstagram.com/vp/fd31a0e9fb669a4a6a427234a7aa5f2f/5C360E0A/t51.2885-15/e35/17334216_1505196182846160_5268358866986336256_n.jpg",
            "preview_img": "https:/

[2018-09-12 18:43] timmoh commented on #97
just updated the documentation, have a look at it.
i think you just have to add `Settings.output_comments = True`

[2018-09-13 10:27] oguzhankarabulut commented on #97
Thanks! You may close the topic :)

[2018-09-13 10:27] oguzhankarabulut commented on #97
i can do too :D

[2018-09-13 10:27] #97 closed

[2018-09-17 03:42] corncobb opened #98 "Logging error..."
The crawler semi-works for me but I continuously keep getting this error during crawling which may be the reason why log_stats.py doesn't work for me as well. I tired using Python 3.5 as well and was unsuccessful. Not quite sure what the problem is and this is my traceback during crawling. Any help is greatly appreciated.

`--- Logging error ---
Traceback (most recent call last):
  File "C:\Users\

[2018-09-18 02:11] franciscofelixaguirre opened #99 "Automating log_stats"
Hello,

For some reason, I can´t automate log_stats.py with the Windows Task Scheduler. I could do it with crawl_profile.py, but not with this script.

The parameters I pass are (actions)

**Script:** C:\Users\usuario\AppData\Local\Programs\Python\Python35\python.exe
**Arguments:** C:\Users\usuario\Downloads\instagram-profilecrawl-master\log_stats.py -u _instaprofile_
**Initiate in:** C:\Users\usu

[2018-09-18 02:57] #99 closed

[2018-09-25 19:43] dshahrokhian commented on #78
Same here!

[2018-09-26 21:41] dshahrokhian opened #100 "Class name error when crawling posts"
(This issue is related to #78)

Most of the times, when one tries to crawl the post information from an user, the logging provides the following output:

`Message: no such element: Unable to locate element: {"method":"class name","selector":"Xl2Pu"`

If it helps, I am using MacOS with chromedriver.

Thanks for your time
Daniyal

[2018-10-08 21:23] #86 closed

[2018-10-08 21:23] #85 closed

[2018-10-25 08:03] lbenassi commented on #98
Any suggestions on how to solve this error? I tried to run the script `crawl_profile.py` and I get an error similar to the one above

![image](https://user-images.githubusercontent.com/25766101/47484881-1fa03d80-d83d-11e8-8a8a-4827c00417ca.png)

Any help is greatly appreciated, Thanks!

[2018-11-01 15:12] sonnyobrien commented on #94
please TELL ME HOW YOU FIXED IT!!!!!!

[2018-11-01 15:18] sonnyobrien opened #101 "Requested Python version (3.5) is not installed (I have 3.7)"
C:\Users\ME\instagram-profilecrawl>crawl_profile.py
Requested Python version (3.5) is not installed

I have python 3.7 installed at c:\python37

[2018-11-01 15:29] sonnyobrien opened #102 "How do you start USING it?"
python3.5 crawl_profile.py 'user'
brings back nothing in cmd under windows 64 bit
I tried typing py -3.5 crawl_profile.py 'user'... nothing

Only resulting message i got was this:
[code]

Also, where on earth do I input the username of the profile I want to crawl?

[2018-11-01 15:30] sonnyobrien commented on #101
I installed python 3.5 but I still cant get this to work. I have a new error #102

[2018-11-01 15:30] #101 closed

[2018-11-04 12:46] sonnyobrien commented on #102
Sorry, this does not solve it. I already have selenium via pip install.

[2018-11-08 17:02] davidetroise opened #103 "Scrapping break error"
I'm using your script and it seems really promising! But unfortunately I’m having some problems with it, and I hope you can help me.

I'm using Ubuntu, I followed the instructions I found in the README.md file but when I run the script with my internet connection - I’m on optical fiber- or through Amazon Web Services hosting
 I keep getting the same error:

`If you believe this is only caused by s

[2018-11-08 17:13] justdvl commented on #103
Hello. I wrote these lines of code, and message to Increase sleep time is
because apparently bot tries to scroll down the users wall, but no new
photos are loaded.
After each attempt to scroll, it loads all the links to all the posts and
if that number of links doesn't increase, it evaluates loading of new posts
as unsuccessful.
If you change settings in crawl file to not use headless browser, you

[2018-11-11 13:04] couturelp commented on #103
I'm getting the same exact error :
Scrolling profile  24 / 456
Scrolling profile  36 / 456
Scrolling profile  42 / 456
Scrolling profile  42 / 456

[2018-11-11 13:05] couturelp commented on #103
Increased the delay to 5 sec, same error, still stuck at 42.

[2018-11-11 15:37] justdvl commented on #103
Whoever was changing this program before made some bugs. I have fixed them. It works flawlessly for me now.
https://github.com/timgrossmann/instagram-profilecrawl/pull/104

[2018-11-12 18:12] alexroan opened #105 "'crome_options' depreciated, use 'options' instead"
[code]

Present in newer chrome drivers

[2018-11-12 18:44] timgrossmann commented on #105
#106

[2018-11-12 18:44] #105 closed

[2018-11-12 18:44] #103 closed

[2018-11-15 13:13] rodrigoberriel commented on #102
@sonnyobrien You can always run pip like this: `python3.5 -m pip install selenium`

[2018-11-15 14:32] rodrigoberriel commented on #102
@sonnyobrien As I said, in your case, a Windows user: `py -3.5 -m pip install selenium`.

[2018-11-15 22:11] sonnyobrien commented on #102
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

Requirement already satisfied: selenium in c:\python35\lib\site-packages (3.141.
0)
Requirement already satisfied: urllib3 in c:\python35\lib\site-packages (from se
lenium) (1.24.1)

like I said, selenium is already installed

[2018-11-15 22:33] sonnyobrien commented on #102
You're right. I can not run an import selenium...
maybe I need to format my computer? I will close this as it does not relate to the repository.

[2018-11-15 22:33] #102 closed

[2018-11-22 22:29] davidetroise commented on #103
Dear David,
Thanks to your intervention now the script don't stop anymore at 42 posts, but I’m still having the other problems:

I don’t get the comments' text and neither the correct number of comments of a single post:

I tried with two the different accounts, a bigger one https://www.instagram.com/scottecss/, and also https://www.instagram.com/fibrax/ since it has very few post and comments.

I

[2018-11-23 19:02] imansh77 commented on #82
I'm on it but it needs to login.any idea how to handle it? login from the beginning or just for this particular feature? and how to ask user for entering user and pass?

[2018-11-24 11:50] justdvl commented on #100
Well, as a matter of fact, it seems like the whole thing doesn't really work anymore. Maybe Instagram did an update. I'm having a look at it now.

[2018-11-24 13:06] justdvl opened #108 "Likes are not retrieved unless logged in"
Instagram made a changes not allowing to see who liked the photo unless we are logged in.
I propose quick fix for those who need to solve this:

To solve it, one simple solution is to just add a cookie to the browser, thus getting logged in automatically.
You can get your instagram cookie if you use InstaPy, it is saved in logs file.
Let's say we name cookie: "_insta_cookie.pkl_" and we put it int

[2018-11-24 20:54] imansh77 commented on #108
Nice job, but I think it's not a good practice to use cookies to log in because maybe someone didn't log in with his/her browser (which mostly true because people use mobile for instagram usage) and it'll fail so in my opinion its a better approach to log in completely (at least for first time and then save it for next use)

[2018-11-28 08:43] timmoh commented on #108
Hey @imansh77 I cannot merge this request, this would break every installation of instagram profilecrawl. you changed the complete behavior from calling the script with serval usernames to a script with just one username and credentials.
Please rewrite your code so the user login is optional.
perhaps by putting the user/pw settings into the script like Instapy does it....

[2018-11-28 08:44] #100 closed

[2018-11-28 17:59] davidetroise opened #112 "Scrapping break errors"
Dear David,
Thanks to your intervention now the script don't stop anymore at 42 posts, but I’m still having the other problems:

I don’t get the comments' text and neither the correct number of comments of a single post:

I tried with two the different accounts, a bigger one https://www.instagram.com/scottecss/, and also https://www.instagram.com/fibrax/ since it has very few post and comments.

I

[2018-11-28 19:37] justdvl commented on #112
I see some errors, such as _Unable to locate element: {"method":"tag name","selector":"span"}_

Yea there are some problems in this code, such as user_commented is _tried_ to be declared, and then, no matter if try statement succeeds or not, it is used in another code.
So if that try statement fails and brings exception, user_commented is still called and that cause error.

I'm busy now I'll look

[2018-12-03 13:35] dion-ricky commented on #82
I think it'll be better if the users adds user right from the shell using an argument and password will be asked inside the program itself to make the input invisible. Just like when you are pushing your local git repo to remote repo and asked for username and password which the password doesn't show up on the console as you type in.

[2018-12-04 13:18] pttnx opened #113 "selenium.common.exceptions.WebDriverException: Message: connection refused"
Hi Tim,
i'm trying to crawl via Pi and get the following Error:

[code]

I followed your README.md so far. Any idea how to solve this?

[2018-12-04 14:44] imansh77 commented on #113
@pttnx maybe something wrong with the setting of the firefox? or retry to install it properly may work. I haven't access to PI to check it.

[2018-12-04 14:54] pttnx commented on #113
seems like its caused by firefox-esr. if i try to run firefox-esr it says:
`no DISPLAY environment variable specified`

if i run it with --headless i get:
`Unable to init server`

if i try to start firefox-esr by menu clicking - it always crashes.

[2018-12-05 00:58] msabic22 opened #114 "video views and likes"
I noticed that video views count as likes, so i tried to fix this by changing extractor_post util (extract_post_info funciton)
i replaced this :

 ` likes = 0

    if len(post.find_elements_by_tag_name('section')) > 2:
        likes = post.find_elements_by_tag_name('section')[1] \
            .find_element_by_tag_name('div').text
        likes = likes.split(' ')

        # count the names if there

[2018-12-05 22:17] pttnx commented on #113
Ok, works great now, had to pick the older firefox-esr (52.9) and geckodriver 0.17.

[2018-12-05 22:17] #113 closed

[2018-12-06 01:36] ryanhowa opened #115 "selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally -- Version 2"
I have previously reviewed the issue https://github.com/timgrossmann/instagram-profilecrawl/issues/12 because the error message I receive is the same.

I followed the instructions for installation from the README. I installed python, requirements, chrome, and the chrome driver. Please note I am using the latest version of chrome as of this post. I am also using version 2.44 of the chromedriver.

I

[2018-12-06 21:55] davidetroise commented on #112
I kept on making some tests but I'm still having the same results, the script still gives me the same errors. Have you had a chance to look into this?

Thanks, D.

[2018-12-11 11:20] #28 closed

[2018-12-11 11:20] #108 closed

[2018-12-12 18:01] timmoh commented on #115
could you pls update to latest commit. is there still an error?

[2018-12-19 08:12] #115 closed

[2018-12-21 10:52] iBocchese opened #119 "No module named 'selenium' nor 'exceptions'"
Hi Guys,

little premise: unfortunately for me, I am not a CS student. But I am learning on my own and luckily Github and Stackflow communities are very helpful. Thus, I would like to say that I have already tried almost all the online suggestions I have found to solve previusly my issue (such as easy_install / sudo pip install / pip install...)

yet, this error message is still shown:

Isabellas-

[2018-12-21 12:12] justdvl commented on #119
So, if I you have selenium and other modules?
What about

pip install -r requirements.txt

On Fri, Dec 21, 2018, 11:52 AM Isabella <notifications@github.com wrote:

[2018-12-21 13:17] iBocchese commented on #119
hi justdvl,

of course, I did ! all the requisites have been correctly executed.

[2018-12-22 11:16] timmoh commented on #119
perhaps you have installed more than one version of python.
what's your version?
`
pip -V
`
perhaps this would help?
`
pip3 install -r requirements.txt`

[2018-12-23 07:22] imansh77 opened #120 "Login trouble"
Hey there, apparently after trying to log in, Instagram sends a code via SMS so here we have trouble any ideas how to handle it? my guess: maybe freeze the app, get the code from the user via CLI and put it for Instagram then continue the rest of process. @timmoh @timgrossmann

[2018-12-23 14:06] justdvl commented on #120
Yes. I already wrote that code. I'll push it soon.
We will also need login to make more unsuspicious, so Instagram won't even
need to ask (like in case of Instapy).

On Sun, Dec 23, 2018, 8:22 AM Iman Sharifi Tabar <notifications@github.com
wrote:

[2018-12-23 14:55] imansh77 commented on #120
@justdvl nice job, so how did you handle it?

[2018-12-26 14:56] astu9880 commented on #82
Does the tool provide functionality to fetch follower list yet?
@imansh77 Have you implemented the feature?

[2018-12-28 14:28] imansh77 opened #122 "useless creation of crawl_profile_with_login.py"
@timmoh are you sure it is a good approach to have two way? because we have login_username in settings.py and again in this file we have settings.login_username and even in original crawl_porfile.py I think it makes user confuse and harder to maintain that's enough having one it does the job.

_Originally posted by @imansh77 in https://github.com/timgrossmann/instagram-profilecrawl/commit_comment/

[2018-12-30 14:31] iBocchese commented on #119
Thanks @timmoh ! it worked smoothly

[2018-12-30 14:31] #119 closed

[2019-01-02 07:07] gharary opened #123 "Issue on crawl with login"
I have an issue when I want to use my username&password to crawl a private profile which I have followed.
I get this error:

Message:                                                                          username or password is wrong
--

however I've changed my password and tried again didn't work. I've disabled my two-factor authentication and still doesn't work!

Any idea about it?

[2019-01-02 14:08] timmoh commented on #122
what's the problem?
by default python would use the login_username in settings.py ... if you want to overwrite it for a single script you could overwrite (like every setting) with settings.login_username

[2019-01-02 14:12] imansh77 commented on #122
@timmoh yeah but I mean why do we need a new file when settings.py do the thing

[2019-01-03 08:16] timmoh commented on #122
I don't see any new file.... crawl_profile_with_login.py is just an example file

[2019-01-03 08:35] imansh77 commented on #122
don't you think it'll make confusion?

[2019-01-05 18:03] imansh77 commented on #123
@gharary I guess you are trying to run  "crawl_profile_with_login.py" am I right? If yes its because
Settings.login_username = 'my_insta_account'
Settings.login_password = 'my_passwort_xxx'
 maybe you didn't change this one and you changed below which is in "settings.py" :
    login_username = ''
    login_password = ''
@timmoh that's what I'm talking about in that issue which I opened it makes co

[2019-01-06 15:19] HarryRowolt opened #125 "Error in Readme?"
Readme says:
**Settings:**
To limit the amount of posts to be analyzed, change variable limit_amount in crawl_profile.py. Default value is 12000.\

There is no "limit_amount" in crawl_profile.py - you refer to settings.py?

[2019-01-07 08:51] timgrossmann commented on #125
@HarryRowolt Sorry, yes, absolutely!
Could you create a PR to adjust the description in the README, please?

[2019-01-08 12:46] timmoh commented on #122
@imansh77 perhaps we should set up an folder "examples" and move this file to there

[2019-01-08 12:50] timmoh commented on #125
changed it

[2019-01-08 12:50] #125 closed

[2019-01-08 13:17] #122 closed

[2019-01-11 03:42] Cupido10 commented on #123
@imansh77  Sorry, I have tried your way to do so, but still pop up error message.
Are there any solution?  thanks!

[2019-01-11 08:46] imansh77 commented on #123
@Cupido10 can you say what exactly did you do? and as @timmoh said make sure you have updated your repo and try once again.

[2019-01-11 11:14] Cupido10 commented on #123
@timmoh Yes, I've already update to the lateset version.
@imansh77 I follow some previous issue and run crawl_profile.py with login username & password in setting.py. But It appears " error password " and do nothing. :(

[2019-01-18 10:56] dkbast commented on #123
Hi, I believe the problem is coming from Instagrams "we detected an unusual login attempt" . InstaPy has taken care of this problem: "bypass_suspicious_attempt=True" - maybe the code can be reused?

[2019-01-20 22:34] lordlynx commented on #123
I have the same problem too;Messege: username or password is wrong Error with user xxxxxxxxx

also tried imansh77's suggestion but didn't work

[2019-01-21 21:17] 0rC0 commented on #123
Same error here, and at least in my case @dkbast is right, there is no distinction between failed login because of a wrong user/pass or because it asks for a security code (file `instagram_profilecrawl/util/account.py`).

[2019-01-24 20:28] #120 closed, assigned to nobody

[2019-01-28 16:27] perryd01 opened #131 "Cannot get the list of likers"
`ERROR [2019-01-28 17:20:03] Error - getting post likers`
`ERROR [2019-01-28 17:20:03] can only concatenate str (not "NoSuchElementException") to str `
......
`INFO [2019-01-28 17:20:01] GETTING LIKERS FROM POST`
`INFO [2019-01-28 17:20:01] found likers: 0 should be 56 -- scroll for more`
`ERROR [2019-01-28 17:20:01] Error - getting post likers`
`ERROR [2019-01-28 17:20:01] can only concatenate st

[2019-01-30 03:21] miladyalda commented on #131
Hello! I have same problem.

[2019-02-04 07:00] doganaltintas commented on #131
Hello! I have same problem. Post likes constant count turn zero.

[2019-02-06 06:00] #123 closed

[2019-02-07 23:25] noiob commented on #114
I fixed this in #133 fyi, it scrapes views and likes separately

[2019-02-07 23:27] noiob commented on #112
I fixed this in #133, the problem is that the button is sometimes obscured by a popover (probably the GDPR cookie notice).

[2019-02-12 10:35] deenadayalans opened #134 "Reading from a file of list of users and crawling through their basic info"
I am trying to get the basic info of a user like name, alias, bio, number of followers, following, posts by giving an input file with list of instagram profiles and implemented it using threads. But I get connection refused error randomly for even a valid profiles as there might be a limit set by the instagram.

Is there any other way of overcoming it and improve the below code.

[code]

[2019-02-12 22:34] snrkldetection opened #135 "Is there a way to update whats previously been scraped?"
First of all so impressed with what you have done here.

Is there a way that i am missing that would just scrape the data of the non scraped (new) posts and amend it to the downloaded JSON?

This would be amazing, currently its just looping and redownloading my profile (about an hour at a time ) when i relaunch the command

[2019-02-13 15:34] audacesk commented on #131
Hi guys @doganaltintas  @miladyalda @perryd01 , I was wondering if you found the solution to your problem?  I have the same issue. I've been playing around the entire day but I must be missing something somewhere
Thanks guys

[2019-02-21 08:09] timmoh commented on #135
if you want to crawl some other profiles you have to call the script with other users crawl_profile.py user1 user2

[2019-02-21 08:10] timmoh commented on #134
Which error did you get?

[2019-02-21 12:53] deenadayalans commented on #134
I get these Too Many Requests Error (http error code 429) and it skips the profile to the next one. The same error occurs for few valid profiles continuously and the it works normal and so on. Is it something to do with the above code or because of the limit set on the server side.?

[2019-02-21 17:50] timmoh commented on #134
"429 Too Many Requests" is the answer. You've been crawling to much with your ipadress on instagram. (which is official not allowed) so they block you.
possible solutions:
- crawl less
- use different interconnection / server
- use proxy

### proxy:
replace
[code]
with
[code]

[2019-02-22 05:32] deenadayalans commented on #134
I tried it but getting below exception,
[code]

[2019-02-26 11:26] timmoh commented on #131
Instagram has a new feature it hides the likers which are not in actual view. so is hard for us to get the whole likerslist....
perhaps some can build a work around like adding the found likers to an array, scroll, adding to an array (the array must be checked if there no duplicate entry)

[2019-02-27 11:34] #114 closed

[2019-02-27 11:34] #112 closed

[2019-02-27 11:36] timmoh commented on #134
Specifying 'socksProxy' requires an integer for 'socksVersion'

use proxy_port = 8080 instead of proxy_port = "8080"

[2019-02-27 12:36] #131 closed

[2019-03-01 09:23] justinushermawan opened #141 "Scrape follower returns error"
Error was occured while scraping follower data:
[code]

[2019-03-01 10:09] iBocchese opened #142 "Ways of Increment the velocity of the crawling?"
Has anyone tried to implement some modifications to the repository to crawl faster?

For example, I crawled Rihanna' s profile, but it took days, precisely 5.
Also, when it requires too much time download info, the crawl generates automatically an error of download and starts downloading the next element...

[2019-03-02 14:11] LupascuAndrei opened #143 "Also crawl following list"
https://github.com/timgrossmann/instagram-profilecrawl/blob/ae56d85175a4ceb867ce2d310c427583046e7ca2/util/extractor.py#L132

I see we're able to crawl the followers list, which works flawless.
Will extracting the following list also be possible in the near future? Has it been tried recently ( are there some issues which made it impossible/hard to implement? ) ?

[2019-03-05 17:40] timmoh commented on #143
it already implemented. Use Settings.scrape_follower = True (login credentials are needed)

just updated documentation

[2019-03-05 17:41] timmoh commented on #142
it depends on your use case, everything could be configured:
Don't crawl posts or just X posts
Don't crawl like
Don't crawl follower
Don't crawl comments

[2019-03-05 17:43] timmoh commented on #141
are you logged in? you cannot get followers without beeing logged in

[2019-03-05 17:44] #135 closed

[2019-03-05 23:07] justinushermawan commented on #141
I'm not. But, the username I provided is a public account.

On Wed, Mar 6, 2019, 00:43 Timo Dörsching <notifications@github.com> wrote:

[2019-03-07 10:57] timmoh commented on #141
it doesn't matter... Follwer can not be loaded without log in.
You could test it on your one: open a private tab in your browser and see what information you could get

[2019-03-09 09:59] zeglin opened #144 "Limits for scraping followers?"
Are there any limits for scraping followers? If yes, how to get around them...?

I am trying to scrape followers for profiles that have around 30k - 50k followers each. At the beginning it's working smoothly, but after scraping 198 accounts it freezes and stops. When i CTRL+C and try to launch the script again, i can see this error:

[code]

When i re-launch the script, this is what i get:

[code]

[2019-03-13 11:31] goursandesh opened #145 "Verification Code required Error"
Is working fine on Mac, but once I move it to linux server, it breaks. I am using chrome headless browser for linux machine. Any Idea ?

[2019-03-13 12:15] goursandesh commented on #145
Found the reason, it was because Instagram has raised an alert about suspicious activity on my account. have to reenter the OTP to fix it. Not sure how frequently this will be happening, I want to run the script 6 times a day only.

[2019-03-18 22:32] #145 closed

[2019-03-18 22:32] #143 closed

[2019-03-29 03:25] nightmello opened #146 "scrape followers list with error"
Thanks for this repo.

When I test the 03/05/2019 version, it can return the first 9 followers instead of 12 (current hard-code value). How to return the entire followers list?

The running error is from [here](https://github.com/timgrossmann/instagram-profilecrawl/blob/master/util/extractor.py#L153-L159).
`Unexpected error: <class 'IndexError'>`
`list index out of range`
`ERROR [2019-03-28 23:07:

[2019-04-23 21:14] timsmd opened #147 "login multiple times in for loop"
Login is inside the for loop, so it signs in multiple times. Could be fixed by placing the login outside the loop in crawl_profile.py

[2019-04-28 19:59] #147 closed

[2019-05-25 11:11] Suleman-Elahi opened #148 "Chromedriver is not in path error on Windows 10"
Even though, Chromedriver is in PATH, it still showing error message.

![image](https://user-images.githubusercontent.com/24384996/58368524-278f9100-7ea3-11e9-8203-52e5932dcceb.png)

[2019-05-26 08:02] TollyThaWally commented on #148
If you've downloaded chromedriver.exe, put it in the assets folder. (It worked for me)

[2019-05-27 05:37] Suleman-Elahi commented on #148
Thanks.

[2019-05-27 05:37] #148 closed

[2019-07-15 08:57] itsdante opened #152 "Scrape comment returns error"
`INFO [2019-07-15 15:45:53] found comments: 4
ERROR [2019-07-15 15:45:53] Message: no such element: Unable to locate element: {"method":"css selector","selector":"h2 + span, h3 + span"}
`

I found that the css selector sometime will not work, it's due to either the selector did not find this or

`INFO [2019-07-15 15:49:45] found comments: 5
ERROR [2019-07-15 15:49:45] Message: no such element: Una

[2019-07-18 17:55] itsdante commented on #146
@nightmello have you logged in ? extracting follower data requires you to login

[2019-07-19 03:05] nightmello commented on #146
Yes, I logged in. Finally, I switch to use Instapy: https://github.com/nightmello/instagram-profilecrawl/blob/master/crawl_real_fans.py

[2019-08-01 10:48] 1um opened #153 "Use React State to get posts"
Something like this can extract post info from the React State of the profile page. It was enough for me and significantly increase speed since you don't need to open each page. Hope, someone will find it helpful.

    JSGetPostsFromReact = """
            var feed = document.getElementsByTagName('article')[0];
            var __reactInternalInstanceKey = Object.keys(feed).filter(k=>k.startsWith('

[2019-08-02 14:26] razki opened #154 "Commenters seem to be broken"
Afternoon,

When scraping the profiles it seems that there is an issue when trying to get the commenters of a particular post:

ERROR [2019-07-31 15:22:58] ERROR something went wrong getting user_commented
ERROR [2019-07-31 15:22:58] ERROR something went wrong getting comment

Probably a duplicate of #152 But creating another Issue to surface it

[2019-08-07 17:54] o365geek commented on #134
Tim, can I use the above proxy setting on Mac?

[2019-08-14 20:09] itsdante commented on #154
hey, I fixed it actually but I'm still trying to fix the others, so go to utils/extractor_posts.py. change all the user_commented[3] from this line to user_commented[1]

`
user_commented = comm.find_element_by_tag_name('a').get_attribute("href").split('/')
user_commented_list.append(user_commented[3])
`

[2019-08-23 12:50] lamoo commented on #154
Hi, Thank's for this solution, but same comments still broken.
Did you have solution?

[2019-09-02 18:21] itsdante commented on #154
I actually fixed it by changing it to 1, I currently do not have any problem. Just so we're clear, did you login to your account before scraping the comments ? and is the account you're scraping public ?

[2019-09-02 18:21] #152 closed

[2019-09-20 05:12] liyunrui commented on #144
Anyone know what's wrong w this issues. I also got same problem.

[2019-09-21 12:43] sejaldua opened #156 "get location latitude and longitude not working"
something goes wrong in between

[code]

and

[code]

tried to debug this with print statements and i'm getting a JSONDecodeError when trying to call `response.json()`

does anyone know what is going on here?

[2019-10-17 19:18] RDhamala opened #157 "No module named selenium.common.exceptions"
Has anybody faced similar issues?

Traceback (most recent call last):
  File "C:\Users\Roshan Dhamala\Independent Class\Insta\instagram-profilecrawl\crawl_profile.py", line 5, in <module>
    from util.datasaver import Datasaver
  File "C:\Users\Roshan Dhamala\Independent Class\Insta\instagram-profilecrawl\util\datasaver.py", line 4, in <module>
    from util.settings import Settings
  File "C:\Us

[2019-10-17 22:00] chauhan176 commented on #157
Yes i'm also having the same problem.
is this something because of paths?

[2019-10-31 12:59] shreyaga opened #159 "Scraping likes ,views & commented user resulting in error"
Scraping likes & views resulting in error due to changes in xpath. The comment which contains a reply to it is also throwing an error.

[2019-11-05 10:18] die-tueftelei opened #160 "BrokenLink in README.md"
Near Run on Raspberry Pi - Get the geckodriver as **described here** leads to 404 page..

[2019-11-05 14:09] #160 closed

[2019-11-05 14:10] timgrossmann commented on #160
@die-tueftelei Thanks for the note, it was linked to the instapy project itself, here is a more persistent link:
https://www.raspberrypi.org/forums/viewtopic.php?t=167292

[2019-11-08 09:09] prafulfillment commented on #153
👍 Added this to my PR would love your review.

[2019-11-08 09:33] #153 closed

[2019-11-08 20:17] prafulfillment commented on #142
I added a new [function](https://github.com/timgrossmann/instagram-profilecrawl/blob/master/util/extractor.py#L336) that's used by default that captures number of likes, number of views, number of comments, caption, location, and a [few other pieces of data](https://github.com/timgrossmann/instagram-profilecrawl/blob/master/util/extractor.py#L369-L403) which makes crawling significantly faster.

I

[2019-11-15 15:57] karenbarreto opened #162 "I can't get post's comments"
I'm trying to get the post info and comments.

<img width="1377" alt="Screen Shot 2019-11-15 at 12 55 02" src="https://user-images.githubusercontent.com/56891248/68956603-33e80d00-07a7-11ea-9b8d-6f67afede32c.png">

<img width="806" alt="Screen Shot 2019-11-15 at 12 56 08" src="https://user-images.githubusercontent.com/56891248/68956682-5b3eda00-07a7-11ea-867a-9e23a7f4ec62.png">

<img width="803" a

[2019-11-15 16:55] karenbarreto commented on #162
How can I get all comments from post?

[2019-11-17 17:49] jat28468 commented on #162
please make a video how to launch in termux

[2019-11-18 17:41] eyau77 opened #163 "Can't pull posts"
It seems that posts are not being scraped.  I am trying to scrap a user's posts to grab a list of who liked the post.

I traced to the function **quick_post_extract** in **extractor.py**:

    while (posts_set_len < num_of_posts_to_do):
        print(posts_set_len)

        JSGetPostsFromReact = """
            var feed = document.getElementsByTagName('article')[0];
            var __reactInternal

[2019-11-21 16:21] timmoh commented on #162
Did you set the settings? @karenbarreto
`Settings.scrape_posts_infos = True
Settings.output_comments = True`

[2019-11-24 20:54] NGorsel opened #164 "Message: 'chromedriver' executable needs to be in PATH."
I followed the steps as described. First I cloned the repository with
`git clone https://github.com/timgrossmann/instagram-profilecrawl.git`

After this I downloaded the chromedriver, chrome version 78. For mac64 (I checked that my chrome browser actually is version 78). After this I opened the .zip file in the 'assets' folder of the cloned resository and unpacked the .zip file, as described by th

[2019-12-03 10:23] #164 closed

[2019-12-09 03:59] danieldavidbr opened #165 "Not getting any more posts, ending scrolling before limit"
I use Windows 10 Home and I have python 3.7 installed.

If I run on cmd py -3.7 crawl_profile.py danbilzerian I get the following:

[code]
I am able to get the JSON file but only with the first posts from the profile. I tried that process with other profiles and I had the same problem. I was expecting information about much more posts since I set the settings.py file as below:

[code]

It seems li

[2019-12-16 23:22] #165 closed

[2019-12-18 07:31] Shov96 commented on #165
Hi, I am encountering the same issue. Did you manage to resolve it? If yes, how?

[2019-12-18 08:05] Shov96 commented on #163
Was having the same problem. After tinkering for a bit with Inspect Element on the Instagram page on browser, I found that there are 2 elements with tag name 'article'. One is empty, the other contains posts. By simply changing 0 to 1 in `var feed = document.getElementsByTagName('article')[0];` I am able to get posts.

I don't know if this is environment/browser specific though. Any insights will

[2019-12-31 06:37] Stivencannor commented on #8
i can not solve this on windows

[2020-01-01 04:38] aylee17 opened #166 "Chromedriver error"
I'm getting a Chromedriver error even though I correctly downloaded and put it into the assets folder.

[code]

[2020-01-02 22:31] noiob commented on #166
the documentation isn't up to date, change line 14 in `crawl_profile.py` to
[code]

[2020-01-03 02:07] aylee17 commented on #166
Thanks! I'm still getting an error, although it appears to be a different one now.

[code]

[2020-01-03 08:22] noiob commented on #166
It doesn't seem to find any profile info, make sure the profile exists and isn't private or anything (an easy way to test it is to open it in Chrome)

[2020-01-05 03:46] aylee17 commented on #166
I realized I'm getting this error message for the profiles that I tried before fixing the chromedriver error. But any new profiles I try after fixing chromedriver error, it works. Is it saving the history somewhere that is preventing me from running those profiles?

[2020-02-15 15:13] ManchuMakes opened #167 "Cannot find element - Error on runtime."
I run this and it returns this.

Extracting information from lucas_knight._
INFO [2020-02-15 22:18:23] Extracting information from lucas_knight._
Traceback (most recent call last):
  File "crawl_profile.py", line 21, in <module>
    information, user_commented_list = extract_information(browser, username, Settings.limit_amount)
  File "/Users/lucascomputer/Downloads/instagram-profilecrawl-master/u

[2020-02-27 12:57] andreagiugio commented on #144
I also getting the same problem. Can someone help?

[2020-03-10 08:19] #144 closed

[2020-03-10 08:19] #142 closed

[2020-03-10 08:19] #141 closed

[2020-03-10 08:20] #134 closed

[2020-03-10 08:28] timmoh commented on #167
is it fixed with the newest pull?

[2020-03-10 08:28] #166 closed

[2020-03-10 08:29] #163 closed

[2020-03-10 08:30] timmoh commented on #156
Instagram has delete this value in graphql in some locations.

[2020-03-10 08:30] #156 closed

[2020-03-10 08:30] #146 closed

[2020-03-10 08:30] #154 closed

[2020-03-10 08:30] #157 closed

[2020-03-12 12:50] #167 closed

[2020-03-18 13:23] WoodyAhn opened #170 "urllib3 MaxRetryError"
urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host=*******, port=*****): Max retries exceeded with url: /session/76bff13604f5f4f81228a8d8ed1ab627/cookie (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x10ca4f2e0>: Failed to establish a new connection: [Errno 61] Connection refused'))

I tried to crawl followers list using "crawl_profile.py".
But there was an err

[2020-03-26 17:07] djrbeen opened #171 "Error in line 19"
Hi Tim,
First fo all thank you for sharing your excellent work!
Now, I have this issue when I run the script
`DevTools listening on ws://127.0.0.1:55337/devtools/browser/f1d37825-f242-4970-8c71-8783f5f5d832
Extracting information from xxxxxxx
INFO [2020-03-26 11:01:38] Extracting information from xxxxxxx
INFO [2020-03-26 11:01:41] Alias name: xxxxxxx
INFO [2020-03-26 11:01:41] Bio:
INFO [2020-03-2

[2020-03-29 02:46] suryansh2020 opened #172 "Getting error in extractor.py"
![image](https://user-images.githubusercontent.com/22264793/77838867-b7f7cb80-716f-11ea-9b61-9e260abf4864.png)

[2020-04-01 16:33] rolaxbell commented on #162
same issue, and i've set both of these to true:

[code]

--maybe related, but tags aren't being separated from the profile post's description.
--maybe related, i only see "count" for followers and following, is there supposed to be an additional key with the actual names/ids of the followers?

let me know if i should start a new issue for those!

thanks again in advance!!

[2020-04-11 22:42] Skrohk commented on #172
Go in the file extractor.py, line 390 and replace the line by : 'caption': post_json.get('caption'),

I have got the same issue and now it works !

[2020-04-11 22:45] Skrohk commented on #172
The problem occurs when the caption of an image is blank.

Just replace in extractor.py the line 390 by "'caption': post_json.get('caption')," and it will works ;)

[2020-05-05 02:32] jashinsama008 opened #174 "not getting commenst of users and who liked particular photo info"
pls resolve it

[2020-05-05 06:45] timmoh commented on #174
we need more info about config, setup, your os ...

[2020-05-10 10:38] vmdhhh opened #175 "selenium.common.exceptions.NoSuchElementException"
I am getting following error after sometime

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".v9tJq"}
  (Session info: headless chrome=81.0.4044.138)

Please let me know if there is any solution around this.

P.S Great crawler overall.

[2020-05-10 10:39] vmdhhh commented on #171
Refer to this solution.
https://github.com/timgrossmann/instagram-profilecrawl/issues/172#issuecomment-612528595

[2020-05-12 14:13] ineedhacker12345 opened #176 "Error on crawl_profile.py"
INFO [2020-05-12 07:09:01] Extracting information from xxxxxx
Traceback (most recent call last):
  File "crawl_profile.py", line 19, in <module>
    information, user_commented_list = extract_information(browser, username, Settings.limit_amount)
  File "/home/ineedhacker/instagram-profilecrawl/util/extractor.py", line 445, in extract_information
    ig_user = InstagramUser(browser, username)
  Fil

[2020-05-12 18:59] #176 closed

[2020-05-12 21:41] ineedhacker12345 commented on #175
Same here

[2020-05-18 13:26] arip-1990 opened #177 "login failed"
![image](https://user-images.githubusercontent.com/21642196/82218264-4e509e00-9924-11ea-83c7-829dc686a2de.png)

[2020-05-18 13:28] arip-1990 commented on #177
I commented out the line 'chrome_options.add_argument (' - headless ')' and looked in the browser. authorization is successful

[2020-05-18 13:33] arip-1990 commented on #177
and how to get information about comments and likes for the post. those. how to get usernames like or comment

[2020-05-18 16:20] arip-1990 commented on #177
there is no such class on the instagram site 'WebDriverWait (browser, 10) .until (EC.presence_of_element_located ((By.CLASS_NAME, "XrOey")))'.
account.py file line 62

[2020-05-18 16:28] arip-1990 commented on #177
after fixing the error a new error appeared:
FileNotFoundError: [Errno 2] No such file or directory:' ./cookies/cookies-arip_1990.pkl '

[2020-05-18 17:25] arip-1990 commented on #177
new error 'Object of type InstagramUser is not JSON serializable'

[2020-05-24 09:49] vmdhhh commented on #175
@timmoh @timgrossmann
Is there any way we can include rotating proxy in this crawler?
I'm facing this issue after continuous profile crawl.
Please help.

[2020-05-24 10:01] timmoh commented on #175
https://github.com/timgrossmann/instagram-profilecrawl/issues/134

[2020-05-24 12:18] vmdhhh commented on #175
I got that i will have to reinitialize the browser after sometime with new proxy.
I'm just confused how can i do it in the code.
@timmoh any help is really appreciated. Thanks

[2020-05-24 15:32] timmoh commented on #175
sry no support for this feel free to implement it on your own. all code is given, you just need to add an loop

[2020-05-24 18:11] #175 closed

[2020-06-24 04:36] nisrinaps commented on #172
![ERROR](https://user-images.githubusercontent.com/44310392/85500783-5f20bd80-b60e-11ea-92e6-431e063b881a.PNG)
Please help, I got the similar error. I even don't know what need to be change in the line 410. Anyone knows?
Thx

[2020-07-09 06:18] Lxhnnn opened #178 "TypeError: get_logger() missing 1 required positional argument: 'show_logs'"

[2020-07-09 17:37] bejarano-tech commented on #177
Hi, i change:
from:
`        Datasaver.save_profile_json(username,information)`
to:
`        Datasaver.save_profile_json(username, information.to_dict())`

in the file: crawl_profile_with_login.py

and it Works

[2020-07-11 22:50] abhitiiita commented on #178
.logger() is a class method but rest are instance method. I am also facing the same issue.

[2020-07-22 00:47] meumesmo commented on #178
Getting the same error here.

[2020-07-22 03:19] silvioraof commented on #178
me too

[2020-08-28 11:52] rishabh-gupta-fk commented on #178
pass self as an argument.

[2020-09-15 19:35] pranjal-b commented on #178
same issue

[2020-10-01 19:01] gavishpoddar commented on #178
Same error

[2020-10-08 00:53] TheAnachronism commented on #178
Also facing the same issue.

[2020-10-22 23:55] testdriver123 commented on #178
Same issue, please help.

[2020-10-23 04:18] rishabh-gupta-fk commented on #178
Go to that logger class, and in all methods add an argument "self". That will resolve this.

[2020-10-25 19:03] arihant-jain-09 commented on #178
Where please help

[2020-10-25 19:04] arihant-jain-09 commented on #178
@rishabh-gupta-fk Bro where to add self its already there

[2020-10-27 04:41] rishabh-gupta-fk commented on #178
@arihant-jain-09 Have a look at this. You can also look at my cloned version of this repo. But WARNING: I have fully changed it to my requirements and might not be of use to you. And it's also messed up.
![image](https://user-images.githubusercontent.com/70313971/97257637-87c6f700-183c-11eb-806d-5f4c9126dfe8.png)

[2020-10-27 10:37] timmoh commented on #178
We are open for pull requests

[2020-10-27 10:58] rishabh-gupta-fk commented on #178
I didn't get time to clean up my code, will submit a request as soon as I am able to get it done.
Thanks for this repo. Helped me a lot :)

[2020-11-24 12:15] levelsevencrew opened #180 "webdriver error"
hey im getting a error bout chrome and web driver im using kali WSL version 1/ please any help me to fix this
![Screenshot (268)](https://user-images.githubusercontent.com/63575087/100092910-d2a84e80-2e7c-11eb-9c5a-a6bcf45e6cc0.png)

[2020-12-14 10:49] rsa408 commented on #177
how did you solved errors after this line?

[2020-12-21 10:08] manos-mark commented on #180
pip install webdriver_manager

[2020-12-28 21:42] #180 closed

[2021-01-15 21:40] greyslater commented on #115
Hello @timmoh
I'm on the latest master version but have trouble with the chromedriver

`[WDM] - Current google-chrome version is 71.0.3578
[WDM] - Get LATEST driver version for 71.0.3578
[WDM] - There is no [linux64] chromedriver for browser 71.0.3578 in cache
[WDM] - Get LATEST driver version for 71.0.3578
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/71.0.

[2021-01-16 16:17] greyslater opened #184 "unknown error: DevToolsActivePort file doesn't exist"
Can't get it running in a complete headless instance (everything up-to-date)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [/root/.wdm/drivers/chromedriver/linux64/87.0.4280.88/chromedriver] found in cache
Traceback (most recent call last):
  File "/home/instagram-profilecrawl/crawl_profile.py", line 14, in <module>
    with Setu

[2021-01-16 16:23] timmoh commented on #184
use chrome/firefox like mention in the docu not the one installed by os.
Install the proper chromedriver for your operating system. Once you download it just drag and drop it into instagram-profilecrawl/assets directory.

[2021-01-16 16:38] greyslater commented on #184
can't find anything special mentioned about chrome in the documentary
I'm running on Buster with google-chrome-stable 87.0.4280

chromedriver is in assets but webdrivermanager uses cache though

[2021-01-19 09:49] greyslater commented on #184
I tried different google-chrome settings in `/util/chromedriver.py`

`chrome_options.add_argument('--disable-dev-shm-usage')`
`chrome_options.add_argument('--remote-debugging-port=9222')`

but no success

[2021-02-03 06:41] kushalpython opened #185 "Increase ultimate followers"

[2021-02-03 06:42] #185 closed

[2021-02-03 10:02] #159 closed

[2021-02-03 10:02] #162 closed

[2021-02-03 10:02] #170 closed

[2021-02-03 10:02] #171 closed

[2021-02-03 10:02] #172 closed

[2021-02-03 10:02] #174 closed

[2021-02-03 10:02] #177 closed

[2021-02-03 10:02] #178 closed

[2021-02-12 06:54] arip-1990 commented on #177
I don't remember

[2021-03-07 12:19] ds2812 opened #186 "List of followings?"
Thanks for the tool, very easy to use!
Wondering would it possible to add list of 'following' as well?
Thanks!

[2021-07-01 13:03] fintzd opened #189 "question: is this an archive or is it still open?"
Hi!

I hope to have stumbled across another cool @timgrossmann project on here! :) Just wanted to know whether this is still something woirking / maintained or if InstaPy's shadow (and the time that's required to manage that project of its own, and what it became) made this project something of an archive / old repo?

Cheers!

[2021-07-06 10:56] #189 closed

[2021-09-21 23:23] 89z opened #190 "Get post info"
If I have a post such as this:

https://www.instagram.com/p/CT-cnxGhvvO/

How do I get the info for this post? Sorry for the basic question, but I have looked over the API and am not seeing a way to do this.

[2021-10-02 16:32] #190 closed

[2021-11-07 13:01] psh0502 opened #191 "I want to participate in project to fix README.md"
I found typos in README.md.
I want to fix those in person.
Please write permission to the repository.

[2021-11-12 17:51] psh0502 commented on #176
I have the same problem too.
May I know how you solved it?

[2021-11-13 05:22] #191 closed

[2022-05-29 00:15] kbroughton commented on #176
same

[2022-08-04 09:19] WANTEDCRIMINAL2112 opened #195 "INSTA HACK"

[2022-11-11 11:55] amisha-shrivastava opened #196 "I don't understand what is going wrong?"
D:\Projects\instagram-profilecrawl>python crawl_profile.py iaryantiwarii
[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.46M/6.46M [00:01<00:00, 4.02MB/s]

DevTools listening on ws://127.0.0.1:51720/devtools/browser/f194453f-440f-4ac8-8dcb-7c1af6d6877e
Extracting information from iaryantiwarii
INFO [2022-11-11 17:04:37] Extracting information from iaryantiwari

[2022-11-29 08:56] stephen714 commented on #196
From what I've found elsewhere online, it could be an issue with the page being incompletely loaded before the next event occurs. I don't know how to fix it though 😞
I'm also running into this error...